---
import { getCollection, type CollectionEntry } from 'astro:content';

const posts = (await getCollection('blog'))
  .sort((a:any, b:any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// Definimos el tipo de los posts
type BlogPost = CollectionEntry<'blog'> | undefined;

const currentPostIndex = posts.findIndex((post:any) => post.id === Astro.params.slug);

// Aseguramos que los valores sean del tipo correcto
const previousPost: BlogPost = currentPostIndex + 1 === posts.length ? undefined : posts[currentPostIndex + 1];
const nextPost: BlogPost = currentPostIndex === 0 ? undefined : posts[currentPostIndex - 1];
---

{(previousPost || nextPost) && (
  <nav>
    {previousPost && (
      <p>Previous Post: <a href={`/blog/${previousPost.id}/`}>{previousPost.data.title}</a></p>
    )}
    {nextPost && (
      <p>Next Post: <a href={`/blog/${nextPost.id}/`}>{nextPost.data.title}</a></p>
    )}
  </nav>
)}
