---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url) as 'es' | 'en';
const t = useTranslations(lang);
const h2 = t('about.me.h2');

---

<section class="py-36 bg-white">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-20 max-w-7xl mx-auto">
        <div class="col-span-1 flex flex-col">
            <img src="/img/yo-4.webp" alt="Ariadna Ballestar, fotógrafa de bodas en Barcelona" class="max-w-sm h-auto self-end  -mb-40 -mt-12">
            <img src="/img/15.webp" alt="Ariadna Ballestar, fotógrafa de bodas en Barcelona" class="max-w-xs h-auto self-start ">
        </div>
        
        <div class="col-span-1 justify-center divide-y divide-black ">
            <h2 class="text-5xl mb-4" set:html={t('about.me.h2')} />
            <div class="leading-8 font-medium">
                <p class="font-bold mt-7">{t('about.me.p1')}</p>
                <p class="mt-4">{t('about.me.p2')}</p>
                <p class="mt-4">{t('about.me.p3')}</p>
                <p class="italic mt-4">{t('about.me.p4')}</p>
            </div>
        </div>
    </div>
</section>