---
---

<!--CTA con tres columnas, la primera título, subtítulo y botón a instagram. La segunda una foto. 
La tercera título, subtítulo y botón para reservar sesión de fotos. 
Todo tiene un fondo gris oscuro, letras blancas y tiene un borde superior doble de 1 px -->
<section class="flex items-center justify-center bg-[#313b41] text-white py-8 min-h-[480px]">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-0 border-double border-y-2 border-white">
        <div class="flex flex-col justify-center items-start py-20 px-14">
            <h3 class="text-5xl">
                Una recopilación de mis últimos trabajos
            </h3>
            <p class="py-8">
                Las fotografías no son sólo la prueba de que has vivido; son la prueba de que has amado.
            </p>
            <button class="bg-transparent border-white hover:border-white hover:text-black hover: hover:bg-white">
                Instagram
            </button>
        </div>
        <div class="bg-cover bg-center bg-no-repeat border-x-2 border-white w-auto" style="background-image: url(/public/img/boda-5.webp)">
            
        </div>
        <div class="flex flex-col justify-center items-end text-end py-20 px-14">
            <h3 class="text-5xl">
                ¡Permíteme capturar vuestra historia!
            </h3>
            <p class="py-8">
                Congelar este momento increíble para que puedas recordarlo siempre con alegría y felicidad.
            </p>
            <button class="bg-transparent border-white hover:border-white hover:text-black hover: hover:bg-white">
                Reserva una sesión
            </button>
        </div>
    </div>
</section>