---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";
import { getRelativeLocaleUrl } from 'astro:i18n';
import { slugMap } from 'src/i18n/slug-map';


const lang = getLangFromUrl(Astro.url) as 'es' | 'en';
const t = useTranslations(lang);
---

<section class="py-24 mx-auto justify-center text-center" style="background-image: url('/img/fondo-1.webp'), linear-gradient(-90deg, #ffffff 59%, rgba(255, 255, 255, 0.7) 67%);
background-blend-mode: overlay; background-size: cover;">

<div class="max-w-[1240px] max-h-[500px] mx-auto grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Columna 1 -->
    <div class="relative mr-[3%] mb-12 min-w-96">
      <img src="/img/14.webp" class="mb-[4.787%] mr-auto w-[270px] ">
      <img src="/img/15-500x333.webp" class="ml-auto -mt-[8vw] w-72">
    </div>
    <!-- Columna 2 -->
    <div class="">
        <img src="/img/13.webp" class="max-h-[500px] w-auto">
    </div>
    <!-- Columna 3 -->
    <div class="flex flex-col justify-center items-center -mx-[6vw] ">
        <h2 class="text-5xl uppercase">{t('home.cta3.h2')}</h2>
        <p class="mt-5 text-base">{t('home.cta3.p')}</p>
        <a class="link-button mt-8" href={getRelativeLocaleUrl(lang, slugMap['contacto'][lang])}>{t('home.cta3.button')}</a>
    </div>
</div>

</section>