---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
    <div class="text-center text-white py-[4%] bg-cover bg-center" style="background-image: url('/img/42.webp');">
        <h2>{t('weddings.cta1')}
            <br>
            {t('weddings.cta2')}
            <br>
            {t('weddings.cta3')}
        </h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-0 items-center">
        <div class="h-[550px] w-full"style="background-image: url('/img/22.webp'); background-size: cover; background-position: bottom;"></div>
        <div class="h-[550px] w-full"style="background-image: url('/img/44.webp'); background-size: cover; background-position: center;"></div>
        <div class="h-[550px] w-full"style="background-image: url('/img/45.webp'); background-size: cover; background-position: center;"></div>
        <div class="h-[550px] w-full"style="background-image: url('/img/43.webp'); background-size: cover; background-position: center;"></div>
    </div>
</section>