<section class="mb-40 bg-cover bg-no-repeat py-24 bg-center" style="background-image: url('/img/fondo-1.webp'), linear-gradient(90deg,rgba(255,255,255,0.65) 44%,#ffffff 44%); background-blend-mode: overlay;">
    <div class="max-w-7xl mx-auto">
        <section class="grid grid-cols-1 md:grid-cols-3 gap-10 p-8">
            <div class="flex justify-center items-center px-9">
                <img src="/img/yo-1.webp" alt="Ariadna" class="w-full h-auto object-cover ">
            </div>
            <div>
                <img src="/img/yo-2.webp" alt="Ariadna" class="w-full h-auto object-cover">
            </div>
            <div class="flex flex-col justify-center text-center text-sm">
                <h2 class="uppercase text-5xl">Pregunta por Ari</h2>
                <p class="mt-11 font-overpass">¡Me siento muy afortunada de que me estés considerando para retratar tu proyecto!</p>
                <p class="mt-2 font-overpass">Para empezar a hablar de las posibilidades, simplemente envíame un correo o rellena el formulario que aparece abajo, ¡y a partir de ahí, lo manejo yo!</p>
                <div class="flex flex-col mt-8 font-eb text-xl italic font-semibold ">
                <a href="mailto:info@ariadnaballestar.com" class="mt-3 text-gray-500 hover:text-gray-700">info@ariadnaballestar.com</a>
                <a href="tel:+34654712346" class="mt-3 text-gray-500 hover:text-gray-700">654712346</a>
                <p class="mt-3"> Lunes- Viernes: 9:00 AM –  9:00 PM</p>
                <p class="mt-3"> Barcelona</p>
            </div>
            </div>
        </section>
    </div>
</section>
