<section class="mx-auto p-20 max-w-7xl">
    <!-- Título de la sección -->
    <h2 class="text-5xl text-center uppercase mb-5">Preguntas frecuentes</h2>
    <p class="text-center max-w-2xl mx-auto mb-16 uppercase">Algunas respuestas a preguntas frecuentes</p>
    
    <!-- Contenedor del acordeón -->
    <div id="accordion-collapse" class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <!-- Primera columna -->
      <div>
        <!-- Pregunta 1 -->
        <h2 id="accordion-collapse-heading-1">
          <button type="button" class="flex items-center justify-between w-full p-6 text-left font-eb text-xl italic text-gray-700    border-gray-300 transition-all " data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
            <span>01. ¿Trabajas con parejas LGBTQIA+?</span>
            <svg data-accordion-icon class="w-5 h-5 transition-transform transform rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5L5 1 1 5"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
          <div class="p-6     border-gray-300">
            <p class="text-gray-600">Sí, absolutamente. Me enorgullece trabajar con parejas de todas las orientaciones sexuales y de género, creando recuerdos significativos y auténticos para todas las parejas.</p>
          </div>
        </div>
        
        <!-- Pregunta 2 -->
        <h2 id="accordion-collapse-heading-2">
          <button type="button" class="flex items-center justify-between w-full p-6 text-left font-eb text-xl italic text-gray-700     border-gray-300 transition-all " data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
            <span>02. ¿Viajas a otras ciudades y países para celebrar bodas?</span>
            <svg data-accordion-icon class="w-5 h-5 transition-transform transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5L5 1 1 5"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
          <div class="p-6     border-gray-300">
            <p class="text-gray-600">Sí, me encanta viajar y estoy disponible para viajar a otras ciudades o países para capturar tu día especial.</p>
          </div>
        </div>
  
        <!-- Pregunta 3 -->
        <h2 id="accordion-collapse-heading-3">
          <button type="button" class="flex items-center justify-between w-full p-6 text-left font-eb text-xl italic text-gray-700     border-gray-300 transition-all " data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
            <span>03. ¿Con cuánto tiempo de antelación debemos ponernos en contacto contigo?</span>
            <svg data-accordion-icon class="w-5 h-5 transition-transform transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5L5 1 1 5"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
          <div class="p-6 border-gray-300">
            <p class="text-gray-600">En general, siempre es mejor ponerse en contacto lo antes posible para asegurar disponibilidad.</p>
          </div>
        </div>
      </div>
  
      <!-- Segunda columna -->
      <div>
        <!-- Pregunta 4 -->
        <h2 id="accordion-collapse-heading-4">
          <button type="button" class="flex items-center justify-between w-full p-6 text-left font-eb text-xl italic text-gray-700     border-gray-300 transition-all " data-accordion-target="#accordion-collapse-body-4" aria-expanded="false" aria-controls="accordion-collapse-body-4">
            <span>04. ¿Qué pasa si no queremos que se publiquen nuestras fotos en tus redes sociales?</span>
            <svg data-accordion-icon class="w-5 h-5 transition-transform transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5L5 1 1 5"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
          <div class="p-6     border-gray-300">
            <p class="text-gray-600">Entiendo y respeto tu decisión. Sin embargo, hay un incremento del 25% en el precio si prefieres que no publique las fotos en mi portafolio o redes.</p>
          </div>
        </div>
        
        <!-- Pregunta 5 -->
        <h2 id="accordion-collapse-heading-5">
          <button type="button" class="flex items-center justify-between w-full p-6 text-left font-eb text-xl italic text-gray-700     border-gray-300 transition-all " data-accordion-target="#accordion-collapse-body-5" aria-expanded="false" aria-controls="accordion-collapse-body-5">
            <span>05. ¿Qué pasa si tenemos que cancelar o cambiar la fecha?</span>
            <svg data-accordion-icon class="w-5 h-5 transition-transform transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5L5 1 1 5"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-5" class="hidden" aria-labelledby="accordion-collapse-heading-5">
          <div class="p-6     border-gray-300">
            <p class="text-gray-600">El depósito inicial no es reembolsable, pero si la nueva fecha está disponible, no requeriré un nuevo depósito.</p>
          </div>
        </div>
  
        <!-- Pregunta 6 -->
        <h2 id="accordion-collapse-heading-6">
          <button type="button" class="flex items-center justify-between w-full p-6 text-left font-eb text-xl italic text-gray-700     border-gray-300 transition-all " data-accordion-target="#accordion-collapse-body-6" aria-expanded="false" aria-controls="accordion-collapse-body-6">
            <span>06. ¿Entregas las fotos originales sin editar?</span>
            <svg data-accordion-icon class="w-5 h-5 transition-transform transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5L5 1 1 5"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-6" class="hidden" aria-labelledby="accordion-collapse-heading-6">
          <div class="p-6     border-gray-300">
            <p class="text-gray-600">No, porque la edición es una parte importante del proceso y refleja mi estilo artístico.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <script>
    // JavaScript/TypeScript para manejar la funcionalidad del acordeón
    document.querySelectorAll('button[data-accordion-target]').forEach(button => {
      button.addEventListener('click', () => {
        // Obtener el elemento de destino y el icono
        const target = document.querySelector(button.getAttribute('data-accordion-target')!);
        const icon = button.querySelector('svg');
        
        // Asegurarse de que 'target' e 'icon' no sean null
        if (target && icon) {
          // Alternar el estado de expandido/colapsado
          target.classList.toggle('hidden');
          icon.classList.toggle('rotate-180');
        }
      });
    });
  </script>
  