---
import { getLangFromUrl, useTranslations, useTranslatedPath } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url) as 'es' | 'en';
const t = useTranslations(lang);
const faqs = [ 
  {
    question: t('contact.faq.question1'),
    answer: t('contact.faq.answer1'),
  },
  {
    question: t('contact.faq.question2'),
    answer: t('contact.faq.answer2'),
  },
  {
    question: t('contact.faq.question3'),
    answer: t('contact.faq.answer3'),
  },
  {
    question: t('contact.faq.question4'),
    answer: t('contact.faq.answer4'),
  },
  {
    question: t('contact.faq.question5'),
    answer: t('contact.faq.answer5'),
  },
  {
    question: t('contact.faq.question6'),
    answer: t('contact.faq.answer6'),
  },
  {
    question: t('contact.faq.question7'),
    answer: t('contact.faq.answer7'),
  },
  {
    question: t('contact.faq.question8'),
    answer: t('contact.faq.answer8'),
  },
  {
    question: t('contact.faq.question9'),
    answer: t('contact.faq.answer9'),
  },
  {
    question: t('contact.faq.question10'),
    answer: t('contact.faq.answer10'),
  }
];

---

<section class="mx-auto py-20 max-w-7xl">
  <h2 class="text-5xl text-center uppercase mb-5">Preguntas frecuentes</h2>
  <p class="text-center max-w-2xl mx-auto mb-16 uppercase">Algunas respuestas a preguntas frecuentes</p>

  <div id="accordion-collapse" class="grid grid-cols-1 md:grid-cols-2 gap-10">
    {faqs.map((faq, index) => (
      <div>
        <h3 id={`accordion-collapse-heading-${index + 1}`}>
          <button id="accordion" type="button" class="flex items-center justify-between w-full p-6 text-left italic border-gray-300 transition-all"
            data-accordion-target={`#accordion-collapse-body-${index + 1}`} aria-expanded="false"
            aria-controls={`accordion-collapse-body-${index + 1}`}>
            <span>{`${index + 1 < 10 ? `0${index + 1}` : index + 1}. ${faq.question}`}</span>
            <span class="accordion-icon text-3xl normal-case">+</span>
          </button>
        </h3>
        <div id={`accordion-collapse-body-${index + 1}`} class="overflow-hidden transition-[max-height] duration-500 ease-in-out max-h-0"
          aria-labelledby={`accordion-collapse-heading-${index + 1}`}>
          <div class="p-6 border-gray-300">
            <p class="text-base">{faq.answer}</p>
          </div>
        </div>
      </div>
    ))}
  </div>
</section>

<script>
  document.querySelectorAll('button[data-accordion-target]').forEach(button => {
    button.addEventListener('click', () => {
      const target = document.querySelector<HTMLElement>(button.getAttribute('data-accordion-target')!);
      const icon = button.querySelector<HTMLElement>('.accordion-icon');

      // Cerrar otros acordeones
      document.querySelectorAll('[id^="accordion-collapse-body"]').forEach((panel) => {
        const panelElement = panel as HTMLElement; // Asegurarse de que es un HTMLElement
        if (panelElement !== target && panelElement.style.maxHeight && panelElement.style.maxHeight !== '0px') {
          panelElement.style.maxHeight = '0px';
          const otherButton = document.querySelector<HTMLElement>(`[aria-controls="${panelElement.id}"]`);
          const otherIcon = otherButton?.querySelector<HTMLElement>('.accordion-icon'); // Usar operador de encadenamiento opcional

          if (otherButton && otherIcon) {
            otherIcon.textContent = '+';
          }
        }
      });

      // Abrir o cerrar el acordeón actual
      if (target && icon) {
        if (target.style.maxHeight && target.style.maxHeight !== '0px') {
          // Cierra el acordeón con transición
          target.style.maxHeight = '0px';
          icon.textContent = '+';
        } else {
          // Abre el acordeón con transición
          target.style.maxHeight = target.scrollHeight + 'px';
          icon.textContent = '-';
        }
      }
    });
  });
</script>


