---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url) as 'es' | 'en';
const t = useTranslations(lang);
---

<section class="mx-auto py-28">
    <div class="grid grid-cols-3 max-w-7xl mx-auto gap-16">
        <div class="col-span-2 text-center items-center justify-center self-center">
            <h2 class="uppercase text-5xl mb-12">Favorites & fun facts</h2>
            <div class="grid grid-cols-2 border-t-black border-t-solid border-t-[1px] border-b-black border-b-solid border-b-[1px] ">
                <div class="col-span-1 border-r-black border-r-solid border-r-[1px]">
                    <div class="py-4 border-b-black border-b-solid border-b-[1px] font-medium">
                        <p class="text-sm uppercase">{t('about.f1')}</p>
                        <p class="font-eb text-lg italic">{t('about.ff1')}</p>
                    </div>
                    <div class="py-4 border-b-black border-b-solid border-b-[1px] font-medium">
                        <p class="text-sm uppercase">{t('about.f2')}</p>
                        <p class="font-eb text-lg italic">{t('about.ff2')}</p>
                    </div>
                    <div class="py-4 border-b-black border-b-solid border-b-[1px] font-medium">
                        <p class="text-sm uppercase">{t('about.f3')}</p>
                        <p class="font-eb text-lg italic">{t('about.ff3')}</p>
                    </div>
                    <div class="py-4">
                        <p class="text-sm uppercase">{t('about.f4')}</p>
                        <p class="font-eb text-lg italic">{t('about.ff4')}</p>
                    </div>
                    
                </div>
                <div class="col-span-1">
                    <div class="py-4 border-b-black border-b-solid border-b-[1px] font-medium">
                        <p class="text-sm uppercase">{t('about.f5')}</p>
                        <p class="font-eb text-lg italic">{t('about.ff5')}</p>
                    </div>
                    <div class="py-4 border-b-black border-b-solid border-b-[1px] font-medium">
                        <p class="text-sm uppercase">{t('about.f6')}</p>
                        <p class="font-eb text-lg italic">{t('about.ff6')}</p>
                    </div>
                    <div class="py-4 border-b-black border-b-solid border-b-[1px] font-medium">
                        <p class="text-sm uppercase">{t('about.f7')}</p>
                        <p class="font-eb text-lg italic">{t('about.ff7')}</p>
                    </div>
                    <div class="py-4">
                        <p class="text-sm uppercase">{t('about.f8')}</p>
                        <p class="font-eb text-lg italic">{t('about.ff8')}</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <img src="/img/16.webp" class="max-h-[550px] w-auto" alt="Ariadna Ballestar Fotógrafa de Bodas en Barcelona">
        </div>
    </div>
    
</section>