---
---

<section class="mx-auto py-28">
    <div class="grid grid-cols-3 max-w-7xl mx-auto gap-16">
        <div class="col-span-2 text-center items-center justify-center self-center">
            <h2 class="uppercase text-5xl mb-12">Favorites & fun facts</h2>
            <div class="grid grid-cols-2 border-t-black border-t-solid border-t-[1px] border-b-black border-b-solid border-b-[1px] ">
                <div class="col-span-1 border-r-black border-r-solid border-r-[1px]">
                    <div class="py-4 border-b-black border-b-solid border-b-[1px] font-medium">
                        <p class="text-sm uppercase">PLACER CULPABLE</p>
                        <p class="font-eb text-lg italic">Siestas</p>
                    </div>
                    <div class="py-4 border-b-black border-b-solid border-b-[1px] font-medium">
                        <p class="text-sm uppercase">Viaje soñado</p>
                        <p class="font-eb text-lg italic">Países nórdicos</p>
                    </div>
                    <div class="py-4 border-b-black border-b-solid border-b-[1px] font-medium">
                        <p class="text-sm uppercase">Apasionada por</p>
                        <p class="font-eb text-lg italic">Los animales</p>
                    </div>
                    <div class="py-4">
                        <p class="text-sm uppercase">No puedo vivir sin</p>
                        <p class="font-eb text-lg italic">Mi gatita</p>
                    </div>
                    
                </div>
                <div class="col-span-1">
                    <div class="py-4 border-b-black border-b-solid border-b-[1px] font-medium">
                        <p class="text-sm uppercase">Película favorita</p>
                        <p class="font-eb text-lg italic">El señor de los anillos</p>
                    </div>
                    <div class="py-4 border-b-black border-b-solid border-b-[1px] font-medium">
                        <p class="text-sm uppercase">Grupo de música favorito</p>
                        <p class="font-eb text-lg italic">Guns N' Roses</p>
                    </div>
                    <div class="py-4 border-b-black border-b-solid border-b-[1px] font-medium">
                        <p class="text-sm uppercase">Playa o montaña</p>
                        <p class="font-eb text-lg italic">Montaña siempre</p>
                    </div>
                    <div class="py-4">
                        <p class="text-sm uppercase">Hobby curioso</p>
                        <p class="font-eb text-lg italic">Adicta a los sudokus</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <img src="/img/16.webp" class="max-h-[550px] w-auto" alt="Ariadna Ballestar Fotógrafa de Bodas en Barcelona">
        </div>
    </div>
    
</section>