---
---

<section class="bg-cover bg-center bg-no-repeat py-[6vw] bg-white/70 bg-blend-overlay" style="background-image: url(/img/37.webp);">
<div class="grid grid-cols-1 md:grid-cols-3 gap-0 max-w-7xl mx-auto gap-x-[5%] items-center">
    <div>
        <img src="/img/38.webp" alt="boda en la finka 4.1" class="w-full h-auto">
    </div>
    <div>
        <img src="/img/39.webp" alt="preboda en barcelona" class="">
    </div>
    <div class="gap-7">
         
        <h2>VUESTRA HISTORIA DE AMOR SERÁ CAPTURADA Y RECORDADA DURANTE AÑOS</h2>
        <p>Después de vivir solo hay algo tan poderoso: </p>

        <p class="uppercase font-claster text-3xl">RECORDAR </p>

        <p>¿Y qué mejor manera de hacerlo que con unas fotos bonitas y auténticas? </p>

        <p> En los momentos más sencillos y en los detalles más pequeños, estaré allí para detener el tiempo y crear recuerdos que os emocionarán y os harán revivir esa felicidad una y otra vez.</p>
    </div>

</div>
   
</section>