---

---

<section class="flex flex-col py-20 items-center justify-center">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-8 items-center justify-center max-w-7xl mx-auto">
        <div class="col-span-1 flex justify-center h-4/5 w-auto">
            <img src="/img/yo-2.webp" alt="Ariadna Ballestar, fotógrafa de bodas en Barcelona" class="">
        </div>
        <div class="col-span-1 flex justify-center">
            <img src="/img/yo-3.webp" alt="Ariadna Ballestar, fotógrafa de bodas en Barcelona" class="h-full w-auto">
        </div>
        <div class="col-span-1 flex justify-center h-4/5 w-auto">
            <img src="/img/yo.webp" alt="Ariadna Ballestar, fotógrafa de bodas en Barcelona" class="">
        </div>
    </div>
    <h2 class="text-6xl text-center -mt-6 pt-1">
        SOY ARIADNA<br>
        tú y tu historia sois mi inspiración
    </h2>
    <h3 class="font-eb italic font-medium text-xl mb-20">Viviendo en Barcelona, disponible en todo el mundo.</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-7 items-center justify-center max-w-7xl mx-auto">
        <div class="col-span-1">
            <p class="font-claster text-2xl font-light">Te acompaño en los momentos más especiales de tu vida para crear recuerdos imborrables.</p>
            <p class="my-5">Cada pareja es única. Por eso creo que la magia de la fotografía es escuchar y conectar con las personas que trabajo, para captar su singularidad y contar con naturalidad emociones y vivencias que perdurarán para siempre.</p>
            <p class="font-bold">“Cuando tu pasión es tu trabajo das lo mejor de ti y transmites en cada detalle ilusión y profesionalidad”.</p>
            
        </div>
        <div class="col-span-1">
            <p class="">En mi trabajo he conocido historias y personas maravillosas.</p>
            <p class="my-5">Juntas formamos un buen equipo: ellas viven y disfrutan la experiencia, y yo, tras la cámara, relato en imágenes la felicidad de momentos irrepetibles.</p>
                
            <p class="font-medium italic mb-5">Más que una fotógrafa, seré una amiga que captura vuestros momentos más especiales.</p>
                
            <p class="font-bold">¡Contadme vuestra historia y creemos un recuerdo para siempre!</p>
        </div>

    </div>
</section>
