---
import { getLangFromUrl, useTranslatedPath, useTranslations } from 'src/i18n/utils';
import { slugMap } from 'src/i18n/slug-map';
import { getRelativeLocaleUrl } from 'astro:i18n';

const lang = getLangFromUrl(Astro.url) as 'es' | 'en';
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
---

<section class="text-center">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-0">
            <div class="bg-cover bg-center bg-no-repeat h-[80svh]" style="background-image: url('/img/30.webp')">
                
            </div>
            <div class="bg-cover bg-center bg-no-repeat h-[80svh]" style="background-blend-mode: overlay; background-image: url('/img/29.webp'),  linear-gradient(180deg, rgba(43, 135, 218, 0) 62%, rgba(255, 255, 255, 0.19) 100%);">
                
            </div>
    
        </div>
</section>
<section class="justify-center items-center text-center mb-40 -mt-20 mx-auto max-w-[65%]">
    <h1 class="font-medium" set:html={t('prices.hero.h1')}></h1>
    <h2 class="hidden">{t('prices.hero.h2')}</h2>
    <div class="mt-12 text-xl font-eb italic font-medium">
         <p set:html={t('prices.hero.p1')}></p>
    <br>
    <p set:html={t('prices.hero.p2')}></p>
    
    <a 
        href={getRelativeLocaleUrl(lang, slugMap['contacto'][lang])}
        class="mt-4 link-button">
        {t('prices.hero.button')}
    </a>
</div>
</section>