---
---

<section class="text-center bg-cover bg-center bg-no-repeat min-h-36 py-[6vw]" style="background-image: url('/img/24.webp'), linear-gradient(to bottom, rgba(255, 255, 255, 0.067), rgba(255, 255, 255, 0.084), white); background-blend-mode: overlay;">

    <h1 class="text-4xl">Sesión de fotos en Barcelona</h1>
    <h2>TE ACOMPAÑO EN LOS MOMENTOS MÁS ESPECIALES DE TU VIDA<br>
        PARA CREAR RECUERDOS IMBORRABLES.</h2>
        <a href="#contactForm" class="link-button mt-8" >
            ¿Comenzamos?
        </a>
</section>