---
---

<section class="text-center">
<!--tres columnas con fondo de imagenes -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-0">
        <div class="bg-cover bg-center bg-no-repeat h-[80svh]" style="background-image: url('../img/1.webp')">
            
        </div>
        <div class="bg-cover bg-center bg-no-repeat h-[80svh]" style="background-blend-mode: overlay; background-image: url('ariadnaballestarfotografia/img/2.webp'),  linear-gradient(180deg, rgba(43, 135, 218, 0) 62%, rgba(255, 255, 255, 0.19) 100%);">
            
        </div>
        <div class="bg-cover bg-center bg-no-repeat h-[80svh]" style="background-image: url('ariadnaballestarfotografia/img/3.webp')">
            
        </div>

    </div>
</section>
    <section class="justify-center items-center text-center mb-40 -mt-20 mx-auto max-w-[65%]">
        <h1 class="font-medium">
            Fotógrafa de bodas en Barcelona
        </h1>

        <div class="mt-12 text-2xl font-eb italic font-medium">
            <p>
            En el cálido abrazo de Barcelona, una ciudad que palpita con romance y encanto, tus recuerdos de boda cobran una dimensión aún más mágica.
        </p>
        <br>
        <p>
            En cada recuerdo yace un universo de sensaciones, risas, lágrimas, aprendizajes y logros. Son pilares fundamentales que sustentan la construcción de tu propia historia, moldean tus experiencias y forjan tu visión del mundo.
        </p>
        <br>
        <p>
            En cada clic, tejemos una historia eterna, transformando momentos fugaces en recuerdos inolvidables en las bodas de Barcelona.

        </p>
        <button class="mt-8">
            ¡Contacta conmigo!
        </button>
    </div>
    </section>