---
---

<section class="text-center">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-0">
            <div class="bg-cover bg-center bg-no-repeat h-[80svh]" style="background-image: url('/img/30.webp')">
                
            </div>
            <div class="bg-cover bg-center bg-no-repeat h-[80svh]" style="background-blend-mode: overlay; background-image: url('/img/29.webp'),  linear-gradient(180deg, rgba(43, 135, 218, 0) 62%, rgba(255, 255, 255, 0.19) 100%);">
                
            </div>
    
        </div>
</section>
<section class="justify-center items-center text-center mb-40 -mt-20 mx-auto max-w-[65%]">
    <h1 class="font-medium">
        <span class="inline-block rotate-180">?</span>CUÁNTO VALEN TUS RECUERDOS?
    </h1>
    <h2 class="hidden">
        Precios y tarifas fotografo de bodas en Barcelona
    </h2>
    <div class="mt-12 text-xl font-eb italic font-medium">
        <p>
            La fotografía, <strong>noble arte capaz de trascender las limitaciones temporales</strong>, nos otorga el poder de preservar eternamente aquellos recuerdos más preciados. Al crear un legado visual, se erige como el guardián de nuestras experiencias más significativas, brindándonos la posibilidad de revivirlas una y otra vez.
        </p>
    <br>
    <p>
        El precio de los recuerdos radica en la invaluable capacidad de preservarlos intactos a lo largo del tiempo. Sin embargo, estos tesoros visuales no se rigen por una única medida. <strong>Cada imagen cuenta una historia única, merecedora de una atención personalizada.</strong>
    </p>
    
    <a href="/contacto" class="link-button mt-8">
        ¡Contacta conmigo!
    </a>
</div>
</section>