---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="bg-cover bg-center bg-no-repeat py-[6vw] bg-white/70 bg-blend-overlay" style="background-image: url(/img/37.webp);">
<div class="grid grid-cols-1 md:grid-cols-3 gap-0 max-w-7xl mx-auto gap-x-[5%] items-center">
    <div>
        <img src="/img/38.webp" alt="boda en la finka 4.1" class="w-full h-auto">
    </div>
    <div>
        <img src="/img/39.webp" alt="preboda en barcelona" class="">
    </div>
    <div class="gap-7">
         
        <h1 class="leading-none pb-3 text-5xl" >{t('weddings.h1')}</h1>
        <p>{t('weddings.p1')} </p>

        <p class="uppercase font-claster text-3xl py-3">{t('weddings.p2')} </p>

        <p class="pb-3">{t('weddings.p3')}</p>

        <p>{t('weddings.p4')}</p>
    </div>

</div>
   
</section>