---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url) as 'es' | 'en';
const t = useTranslations(lang);
const h1 = t('about.h1');

---

<section class="flex flex-col py-20 items-center justify-center">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-8 items-center justify-center max-w-7xl mx-auto">
        <div class="col-span-1 flex justify-center h-4/5 w-auto">
            <img src="/img/yo-2.webp" alt="Ariadna Ballestar, fotógrafa de bodas en Barcelona" class="">
        </div>
        <div class="col-span-1 flex justify-center">
            <img src="/img/yo-3.webp" alt="Ariadna Ballestar, fotógrafa de bodas en Barcelona" class="h-full w-auto">
        </div>
        <div class="col-span-1 flex justify-center h-4/5 w-auto">
            <img src="/img/yo.webp" alt="Ariadna Ballestar, fotógrafa de bodas en Barcelona" class="">
        </div>
    </div>
    <h1 class="text-6xl text-center -mt-6 pt-1" set:html={t('about.h1')} />
    <h2 class="font-eb italic font-medium text-xl mb-20">{t('about.h2')}</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-7 items-center justify-center max-w-7xl mx-auto">
        <div class="col-span-1">
            <h3 class="font-claster text-2xl font-light">{t('about.h3')}</h3>
            <p class="my-5">{t('about.p1')}</p>
            <p class="font-bold">{t('about.p2')}</p>
            
        </div>
        <div class="col-span-1">
            <p>{t('about.p3')}</p>
            <p class="my-5">{t('about.p4')}</p>
                
            <p class="font-medium italic mb-5">{t('about.p5')}</p>
                
            <p class="font-bold">{t('about.p6')}</p>
        </div>

    </div>
</section>
