---
---
<section class=" bg-[#313b41] py-16 items-center justify-center">
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 max-w-7xl mx-auto text-center text-white">

    <div class="col-span-1 md:border-r-white md:border-r-solid md:border-r-[1px]">
        <p class="text-5xl font-claster"> +8</p>
        <p class="text-xl font-eb italic font-medium">Años capturando emociones</p>
    </div>
    <div class="col-span-1  lg:border-r-white lg:border-r-solid lg:border-r-[1px]">
        <p class="text-5xl font-claster"> +99</p>
        <p class="text-xl font-eb italic font-medium">Clientes felices</p>
    </div>
    <div class="col-span-1 md:border-r-white md:border-r-solid md:border-r-[1px]">
        <p class="text-5xl font-claster"> +100</p>
        <p class="text-xl font-eb italic font-medium">Bodas fotografiadas</p>
    </div>
    <div class="col-span-1">
        <p class="text-5xl font-claster"> 100%</p>
        <p class="text-xl font-eb italic font-medium">Amor por mi trabajo</p>
    </div>

</div>
</section>