---
---
<section class="flex justify-between items-center py-5 px-[2%] h-[100px] bg-[#f6f6f4] sticky top-0 z-50">
    <!-- Logo -->
    <div class="pl-3">
        <img src="/logo-oscuro.webp" alt="Logo" class="max-w-48">
    </div>

    <!-- Navigation Links -->
    <nav class="font-overpass font-semibold flex space-x-6 uppercase text-xs tracking-wide">
        <a href="#" >Bodas en Barcelona</a>
        <a href="#" >Sesiones</a>
        <a href="#" >Sobre mí</a>
        <a href="#" >Contacto</a>
        <a href="#" >Precios</a>
        <a href="#" >Blog</a>
        </a>
    </nav>

    <!-- Call to Action Button -->
    <div class="pr-3">
        <a href="/contacto" class="text-xs uppercase pt-2.5 pr-6 pb-2.5 pl-6 tracking-widest bg-[#798a9b] text-white border border-[#798a9b] transition duration-300 ease-in-out hover:bg-transparent hover:text-[#222] hover:border-[#222]">
            ¡EMPECEMOS!
        </a>
        
    </div>
</section>

