---
import { getLangFromUrl, useTranslations, useTranslatedPath } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url) as 'es' | 'en';
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
import 'node_modules/@glidejs/glide/dist/css/glide.core.min.css'
const OPINIONS = [
  {
    title: t('opiniones.title1'),
    content: t('opiniones.content1').split('<br>'),
    author: t('opiniones.author1'),
  },
  {
    title: t('opiniones.title2'),
    content: t('opiniones.content2').split('<br>'),
    author: t('opiniones.author2'),
  },
  {
    title: t('opiniones.title3'),
    content: t('opiniones.content3').split('<br>'),
    author: t('opiniones.author3'),
  },
];
---

<section class="bg-cover bg-center bg-no-repeat relative justify-center py-20" style="background-blend-mode: multiply; background-color: #313b41; background-image: url('/img/fondo-opiniones.webp');">
        <div class="flex flex-col justify-center items-center">
            <img src="/img/quote.webp" class="w-20">
            <div class="max-w-[1200px] mx-auto mt-10">
                <div class="glide flex items-center">
                  <!-- Arrow izquierda -->
                  <div class="glide__arrows" data-glide-el="controls">
                    <button id="arrow" class="glide__arrow glide__arrow--left" data-glide-dir="<">                      
                      <img src="/img/arrow-white.webp" alt="arrow-left" class="w-9 rotate-90">
                    </button>
                  </div>  
                  
                  <!-- Track con las opiniones -->
                  <div class="glide__track flex-1" data-glide-el="track">
                    <ul class="glide__slides text-white text-center">
                      {OPINIONS.map((opinion) => (
                        <li class="glide__slide">
                          <h2 class="text-4xl">{opinion.title}</h2>
                          {opinion.content.map((paragraph) => (
                            <p class="mt-5 text-base leading-5">{paragraph}</p>
                          ))}
                          <p class="text-lg font-bold mt-8">{opinion.author}</p>
                        </li>
                      ))}
                    </ul>
                  </div>
                  
                  <!-- Arrow derecha -->
                  <div class="glide__arrows" data-glide-el="controls">
                    <button id="arrow" class="glide__arrow glide__arrow--right" data-glide-dir=">">
                      <img src="/img/arrow-white.webp" alt="arrow-right" class="w-9 -rotate-90">
                    </button>
                  </div>
                </div>                 
              </div>
        </div>
        <!-- Columna izquierda -->
        <div class="absolute top-1/2 left-0 transform -translate-y-1/2 border-r border-white w-[70px] h-full flex items-center justify-center">
            <p class="text-white transform -rotate-90 whitespace-nowrap uppercase tracking-[2px] font-medium">LOVELY NOTES</p>
        </div>
        <!-- Columna derecha -->
        <div class="absolute top-1/2 right-0 transform -translate-y-1/2 border-l border-white w-[70px] h-full flex items-center justify-center">
            <p class="text-white transform rotate-90 whitespace-nowrap uppercase tracking-[2px] font-medium">LOVELY NOTES</p>
        </div>
    </section>

    <script>
        import Glide from "@glidejs/glide";
        const slider = new Glide('.glide',{
            type: 'carousel',
        }).mount()
    </script>