---
import { getLangFromUrl, useTranslatedPath, useTranslations } from 'src/i18n/utils';
import { slugMap } from 'src/i18n/slug-map';
import { getRelativeLocaleUrl } from 'astro:i18n';

const lang = getLangFromUrl(Astro.url) as 'es' | 'en';
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
---
<section class="max-w-[65%] mx-auto my-40">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-0">
        <div class="p-8 border-r-[1px] border-x-black flex justify-end">
            <img src="/img/6.webp" class="max-w-[75%] h-auto object-cover">
        </div>
        <div class="p-8 flex flex-col justify-center">
            <h2>{t('prices.sesiones.h2')}</h2>
            <p class="pt-8">{t('prices.sesiones.p1')}</p>
            <p class="py-8">{t('prices.sesiones.p2')}</p>
            <p class="py-8">{t('prices.sesiones.p3')}</p>
            <p class="pt-8 font-eb text-xl italic border-t-[1px] border-t-black">{t('prices.sesiones.p4')}</p>
            <a 
                href={getRelativeLocaleUrl(lang, slugMap['sesiones'][lang])}
                class="mt-4 link-button">
                {t('prices.sesiones.button')}
            </a>
        </div>
    </div>
</section>
