---
---
<section class="max-w-[65%] mx-auto my-40">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-0">
        <div class="p-8 border-r-[1px] border-x-black flex justify-end">
            <img src="/img/6.webp" class="max-w-[75%] h-auto object-cover">
        </div>
        <div class="p-8 flex flex-col justify-center">
            <h2>Sesiones de fotos en Barcelona</h2>
            <p class="pt-8">Cada recuerdo es una cápsula de emociones, una ventana hacia momentos vividos y compartidos. Son puentes que conectan pasado, presente y futuro, transportándote a lugares y personas que han dejado una marca indeleble en tu existencia.</p>
            <p class="py-8">En cada recuerdo yace un universo de sensaciones, risas, lágrimas, aprendizajes y logros. Son pilares fundamentales que sustentan la construcción de tu propia historia, moldean tus experiencias y forjan tu visión del mundo.</p>
            <p class="py-8">El valor de tus recuerdos radica en la capacidad de evocar sonrisas, emociones profundas y enseñanzas perdurables. Son un regalo invaluable que te acompaña a lo largo del camino, nutriendo tu alma y brindándote la fortaleza para seguir adelante.</p>
            <p class="pt-8 font-eb text-xl italic border-t-[1px] border-t-black">La inversión empieza en 150€</p>
            <a 
                href="/sesiones" 
                class="mt-4 link-button">
                Ver más
            </a>
        </div>
    </div>
</section>
