---
---

<section class="py-24 mx-auto justify-center text-center" style="background-image: url('/ariadnaballestarfotografia/img/fondo-1.webp'), linear-gradient(-90deg, #ffffff 59%, rgba(255, 255, 255, 0.7) 67%);
background-blend-mode: overlay; background-size: cover;">

<div class="max-w-[1240px] max-h-[500px] mx-auto grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Columna 1 -->
    <div class="relative mr-[3%] mb-12 min-w-96">
      <img src="/ariadnaballestarfotografia/img/14.webp" class="mb-[4.787%] mr-auto w-[270px] ">
      <img src="/ariadnaballestarfotografia/img/15-500x333.webp" class="ml-auto -mt-[8vw] w-72">
    </div>
    <!-- Columna 2 -->
    <div class="">
        <img src="/ariadnaballestarfotografia/img/13.webp" class="max-h-[500px] w-auto">
    </div>
    <!-- Columna 3 -->
    <div class="flex flex-col justify-center items-center -mx-[6vw] ">
        <h2 class="text-5xl uppercase">Mi fotografía capta conexiones auténticas y mensajes poderosos en imágenes emotivas.</h2>
        <p class="mt-5 text-base">Mi objetivo es crear imágenes que reflejen la belleza, la emoción y el amor presentes en cada detalle, para que puedan ser atesoradas por la pareja y sus seres queridos por siempre.</p>
        <button class="mt-5 " onclick="">Mira lo que ofrezco</button>
    </div>
</div>

</section>