---
const slides = [
  {
    title: "Mini sesión",
    description: "¿Te imaginas compartir una sesión de fotos con las personas que dan sentido a tu vida? ¡Te aseguro que lo pasaréis en grande y tendréis un recuerdo entrañable!",
    details: ["30 min", "Galería online", "Una localización", "+40 fotos editadas", "1 GIF", "Entrega en dos semanas"],
    price: "180€",
  },
  {
    title: "Reportaje",
    description: "¿Te imaginas compartir una sesión de fotos con las personas que dan sentido a tu vida? ¡Te aseguro que lo pasaréis en grande y tendréis un recuerdo entrañable!",
    details: ["50-60 min", "Galería online", "Una localización", "+80 fotos editadas", "3 GIFs", "Entrega en dos semanas"],
    price: "230€",
  },
  {
    title: "Experiencia",
    description: "¿Te imaginas compartir una sesión de fotos con las personas que dan sentido a tu vida? ¡Te aseguro que lo pasaréis en grande y tendréis un recuerdo entrañable!",
    details: ["1.5 horas", "Galería online", "Dos localizaciones", "+120 fotos editadas", "5 GIFs", "Entrega en dos semanas"],
    price: "330€",
  },
];
---

<section class="bg-cover bg-no-repeat py-24 bg-center" style="background-image: url('/img/32.webp'), linear-gradient(-90deg, rgba(255,255,255,0.65) 50%, #ffffff 50%); background-blend-mode: overlay;">
  <div class="max-w-7xl mx-auto">
    <section class="grid grid-cols-1 md:grid-cols-3 gap-10 p-8">
      <div class="flex justify-center items-start">
        <img src="/img/34.webp" alt="Ariadna" class="w-full h-auto">
      </div>
      <div>
        <h2>SESIÓN DE FOTOS FAMILIAR</h2>
        <img src="/img/33.webp" alt="Ariadna" class="w-full h-auto">
      </div>
      <div class="flex flex-col justify-center items-center text-sm">
        <div class="relative w-full max-w-3xl h-auto">
          <!-- Slides -->
          <div class="slider">
            {slides.map((slide, index) => (
              <div
                class={`absolute inset-0 fade flex flex-col justify-center text-gray-800 p-4 ${
                  index === 0 ? "active" : ""
                }`}
              >
                <h3 class="text-5xl">{slide.title}</h3>
                <p class="mt-4">{slide.description}</p>
                <ul class="mt-4">
                  {slide.details.map((detail) => (
                    <li>{detail}</li>
                  ))}
                </ul>
                <hr class="my-4 bg-slate-900">
                <p class="font-claster text-4xl">{slide.price}</p>
              </div>
            ))}
          </div>

          <!-- Navigation Arrows -->
          <button class="absolute top-1/2 left-2 transform -translate-y-1/2" id="prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
          </button>
          <button class="absolute top-1/2 right-2 transform -translate-y-1/2" id="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
          </button>
        </div>
      </div>
    </section>
  </div>
</section>

<style>
  .slider {
    position: relative;
  }

  .slider .fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .slider .active {
    opacity: 1;
  }

  ul li::before {
    content: "\2022";
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 5px;
  }
</style>

<script>
    const slides = document.querySelectorAll(".slider .fade") as NodeListOf<HTMLDivElement>;
    let currentSlide = 0;

    function showSlide(index: number) {
    slides[currentSlide]?.classList.remove("active");
    currentSlide = (index + slides.length) % slides.length;
    slides[currentSlide]?.classList.add("active");
    }

    const prevButton = document.getElementById("prev") as HTMLButtonElement | null;
    const nextButton = document.getElementById("next") as HTMLButtonElement | null;

    if (prevButton) {
    prevButton.addEventListener("click", () => showSlide(currentSlide - 1));
    }

    if (nextButton) {
    nextButton.addEventListener("click", () => showSlide(currentSlide + 1));
    }
</script>
