---
---


<section class="grid grid-cols-1 md:grid-cols-2 gap-8 mx-auto max-w-[65%] mb-40">
    <div class="bg-cover bg-center bg-no-repeat h-full relative mr-[15%] justify-center py-20 pl-20" style="background-blend-mode: overlay; background-color: #ffffff70; background-image: url('/img/fondo-1-500x500.webp');">
        <div class="border-white border-[20px] h-full flex items-center justify-center relative z-10 -mr-20">
            <div class="relative w-full h-full" style="background-image: url('/img/yo.webp'); background-size: cover; background-position: center;">
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center">
        <h2 class="">
            Hola, Soy Ariadna, fotógrafa de bodas en Barcelona.
        </h2>

        <hr class="border-t border-gray-900 my-4 w-full">

        <div class="mt-12 space-y-4 text-justify">
            <p>
                Fotógrafa de bodas en Barcelona, especializada también parejas, retratos y sesiones familiares.
            </p>
        <p class="font-bold">
            Me alegra que estés aquí para que descubras cómo voy a contar tu historia.
        </p>
        <p>
            ¿El día que os juráis amor eterno? ¿Unas fotos diferentes en pareja? ¿Una sesión solo para ti? ¿Un recuerdo bonito y divertido en familia?
        </p>
        <p>Sea cual sea, <span class="underline">te conozco y escucho tus deseos</span> para que el resultado final sea tan especial como lo imaginas.
        </p>
        <p>Y cuando llega el día, <span class="underline">te acompaño</span> para que disfrutes de cada instante y detalle con confianza, mientras voy retratando, silenciosa, emociones indescriptibles para toda la vida.</p>

        <p class="text-xl font-eb italic font-medium text-center">Para triunfar, tu deseo de éxito debe ser mayor que tu miedo al fracaso.</p>

        <p>Me encanta explorar nuevas ideas a través de la fotografía. Lo que más me inspira son las cosas cotidianas. Para mí, la inspiración viene en las formas más pequeñas: sombras, movimiento, luz, líneas y conversaciones. Mi trabajo es una celebración de la vida, y quiero llevar el sol a tu día a día.

        </p>
        <p>Mi enfoque en la fotografía es <strong>capturar la belleza de lo ordinario y transformarlo en algo excepcional.</strong> Cada imagen cuenta una historia única y busco plasmar la esencia de cada momento. Trabajo con parejas que buscan capturar su amor y su conexión en un entorno que refleje su personalidad y estilo.
        </p>
        <p>Me apasiona la oportunidad de viajar y descubrir nuevas culturas, y me encanta incorporar elementos culturales y artísticos en mis sesiones de fotos. Mi objetivo es crear imágenes que hablen por sí solas y que te hagan sentir algo especial cada vez que las veas.

        </p>
        </div> 

        <button class="mt-12">
            ¡Contacta conmigo!
        </button>
    </div>
</section>