---
import { slugMap } from 'src/i18n/slug-map';
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';
import { getRelativeLocaleUrl } from 'astro:i18n';

const lang = getLangFromUrl(Astro.url) as 'es' | 'en';
const t = useTranslations(lang);

const p4String = t('home.about.p4');
const p5String = t('home.about.p5');
const p7String = t('home.about.p7');
---


<section class="grid grid-cols-1 md:grid-cols-2 md:space-x-[10%] mx-auto max-w-7xl w-[80%] mb-40">
    <div class="bg-cover bg-center bg-no-repeat h-full relative md:mr-[5%] justify-center py-20 md:pl-[5%]" style="background-blend-mode: overlay; background-color: #ffffff70; background-image: url('/img/fondo-1-500x500.webp');">
        <div class="border-white mx-auto md:mx-0 w-[80%] md:w-[500px] border-[20px] h-full flex text-right relative z-10 md:translate-x-[22%]">
            <div class="relative w-full h-auto min-h-[300px] md:min-h-0" style="background-image: url('/img/yo.webp'); background-size: cover; background-position: center;">
            </div>            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center bg-[#f6f6f4]">
        <h2 class="text-center md:text-left">
             {t('home.about.h2')}
        </h2>

        <hr class="border-t border-gray-900 my-4 w-full">

        <div class="mt-12 space-y-4 text-justify">
            <p>
                {t('home.about.p1')}
            </p>
        <p class="font-bold">
            {t('home.about.p2')}
        </p>
        <p>
            {t('home.about.p3')}
        </p>
        <p set:html={t('home.about.p4')} />
        <p set:html={t('home.about.p5')} />

        <p class="text-xl font-eb italic font-medium text-center">{t('home.about.quote')}</p>

        <p>
            {t('home.about.p6')}
        </p>
        <p set:html={t('home.about.p7')} />
        <p>
            {t('home.about.p8')}

        </p>
        </div> 

        <a class="link-button mt-8" href={getRelativeLocaleUrl(lang, slugMap['sobre-mi'][lang])}>{t('nav.sobre-mi')}</a>
        </a>
    </div>
</section>