---
---
<section class="py-32 mx-auto justify-center text-center" style="
    background-image: url('/img/12.webp'), linear-gradient(90deg, #ffffff 59%, rgba(255, 255, 255, 0.7) 67%);
    background-blend-mode: overlay; background-size: cover;
">
<h2>MIS TRABAJOS</h2>

    <div class="py-24 max-w-[1024px] mx-auto justify-center" >  
        <div class="grid grid-cols-3 gap-4 pt-2">
            <!-- Columna izquierda (más grande) -->
            <div class="col-span-2 py-28">
                <!-- Contenido de la columna izquierda -->
                <hr class="pb-10 -mr-20 -ml-28 border-gray-800">
                <p class="text-end pb-2 mr-12">01</p>
                <img src="/img/11.webp" alt="Imagen 1" class="h-auto max-w-[450px] ml-auto mr-12">
            </div>

            <!-- Columna derecha (36.7% del contenedor) -->
            <div class="col-span-1">
                <!-- Contenido de la columna derecha -->
                <p class="text-end pb-6 -mr-28">02</p>
                <img src="/img/10.webp" alt="Imagen 1" class="w-auto max-h-[500px]">
            </div>
        </div>
        <div class="grid grid-cols-3 gap-4 pt-20">
           <!-- Columna izquierda (36.7% del contenedor) -->
            <div class="col-span-1 -ml-28">
                <!-- Contenido de la columna derecha -->
                <p class="text-start pb-2">03</p>
                <img src="/img/22.webp" alt="Imagen 1" class="w-auto max-h-[500px] z-20">
            </div> 
            
            <!-- Columna derecha (más grande) -->
            <div class="col-span-2 py-28">
                <!-- Contenido de la columna izquierda -->
                <hr class="pb-5 -ml-20 -mr-28 border-gray-800 z-10">
                <p class="text-start pb-2 mr-12">04</p>
                <img src="/img/23.webp" alt="Imagen 1" class=" h-auto max-w-[450px] mr-12">
            </div>

            
        </div>
        
    </div>
</section>