---
interface Props {
	title: string;
	description: string;
	keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} /> 
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/cropped-logo.webp" />

	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Claster";
		src: url('/Fonts/Claster Oleander.otf') format('opentype');
		font-style: normal;
		font-display: swap;

	}

	@font-face {
		font-family: "EBGaramond";
		src: url('/Fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "EBGaramond";
		src: url('/Fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Overpass";
		src: url('/Fonts/Overpass-Italic-VariableFont_wght.ttf') format('truetype');
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "Overpass";
		src: url('/Fonts/Overpass-VariableFont_wght.ttf') format('truetype');
		font-style: normal;
		font-display: swap;
	}

	html{
		background: #f4f4f6;
	}
	body {
		font-family: 'Overpass', sans-serif;
		font-size: 14px;
		color: #222;
	}

	h1{
		font-family: 'Claster', serif;
		font-size: 90px;
	}
	h2{
		font-family: 'Claster', serif;
		font-size: 45px;
	}
	h3{
		font-family: 'Claster', serif;
		font-size: 32px;
	}
	h4{
		font-family: 'Claster', serif;
		font-size: 20px;
	}
	button{
		font-family: 'Overpass', sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		padding-top: 10px !important;
    	padding-right: 25px !important;
    	padding-bottom: 10px !important;
    	padding-left: 25px !important;
		letter-spacing: 3px;
		background-color: #798a9b;
		color: #fff;
		border: 1px solid #798a9b;
		transition: 0.3s ease;
	}
	
	button:hover{
		background-color: transparent;
		color: #222;
		border:1px solid #222;
		
	}

	button#arrow{
		background: none;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 0;
	}

	button#arrow:hover {
		background: none;
		border: none;
	}
	button#accordion {
		background: none;
		border: 0px;
		border-bottom:1px solid;
		outline: none;
		cursor: pointer;
		font-family: 'EBGaramond', serif;
		text-transform: none;
		font-size: 18px;
		letter-spacing: 1px;
		color: #222;
		font-weight: 500;
	}

	button#accordion:hover {
		background: none;
	
	}
	.link-button {
		font-family: 'Overpass', sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		padding: 10px 25px;
		letter-spacing: 3px;
		background-color: #798a9b;
		color: #fff;
		border: 1px solid #798a9b;
		text-decoration: none;
		display: inline-block;
		transition: 0.3s ease;
		text-align: center;
	}

	.link-button:hover {
		background-color: transparent;
		color: #222;
		border: 1px solid #222;
	}
	#prev {
		position: absolute;
		top: 50%;
		left: -40px;
		transform: translateY(-50%);
	}

	#next {
		position: absolute;
		top: 50%;
		right: -40px;
		transform: translateY(-50%);
	}


	#prev, #next {
		font-size: 24px;
		padding: 0;
		background-color: transparent;
		border: none;
		cursor: pointer;
		
	}

	#prev:hover, #next:hover {
		background-color: transparent;
		border: none;
	}
	.dot {
  width: 8px;
  height: 8px;
  background-color: #f6f6f4;
  border: none;
  padding: 0;
  margin: 0;
}

.dot.active {
  background-color: #222;
}


</style>
